.App, ul {
    margin: 50px;
  }
  
  /* input:-moz-placeholder, select:-moz-placeholder, textarea:-moz-placeholder {
    color: #999999;
  }
  
  input::-moz-placeholder, select::-moz-placeholder, textarea::-moz-placeholder {
    color: #999999;
  }
  
  input:-ms-input-placeholder ,select:-ms-input-placeholder, textarea:-ms-input-placeholder {
    color: #999999;
  }
  
  input::-webkit-input-placeholder, select::-webkit-input-placeholder, textarea::-webkit-input-placeholder {
    color: #999999;
  }
  
  input, select, textarea {
  height: 34px;
  padding: 6px 12px;
  font-size: 14px;
  line-height: 1.428571429;
  color: #555555;
  vertical-align: middle;
  background-color: #ffffff;
  border: 1px solid #cccccc;
  border-radius: 4px;
  -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
  box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
  -webkit-transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s;
  transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s;
  }
  
  input:focus, select:focus, textarea:focus {
  border-color: #66afe9;
  outline: 0;
  -webkit-box-shadow: inset 0 1px 1px rgba(0,0,0,.075), 0 0 8px rgba(102, 175, 233, 0.6);
  box-shadow: inset 0 1px 1px rgba(0,0,0,.075), 0 0 8px rgba(102, 175, 233, 0.6);
  }
  
  .input[disabled],
  input[readonly] {
  cursor: not-allowed;
  background-color: #eeeeee;
  }
  
  textarea {
  height: auto;
  } */